.StyleWrapper{

  width: 100%; 
  max-width: 1400px;
  background-color: #ffffff; 
  padding: 2.5rem; 
  border-radius: 1rem; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}
.StyleWrapper h1 {
    font-size: xx-large;
    font-weight: 700; 
    color: #0c4a6e; 
}

.StyleWrapper h2{
    font-size: large;
    font-weight: bold;
}

/*.StyleWrapper p {
    color: #64748b; 
    font-size: 0.875rem; 
    line-height: 1.25rem; 
}*/

.ContentWrapper{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.ImageWrapper{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.InformationWrapper{
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 1rem;
}

.InformationWrapper p{
    line-height: normal;
}

.ButtonWrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    width: 50%;
    align-self: flex-end;
}

.ButtonWrapper button,
.ButtonWrapper a {
  background-color: #0284c7; 
  color: #ffffff; 
  flex: 1;
  padding-top: 0.875rem; 
  padding-bottom: 0.875rem;
  font-size: 1rem; 
  line-height: 1.5rem;
  font-weight: 700; 
  border-radius: 0.75rem; 
  box-shadow: none; 
  transition: all 0.2s ease; 
  margin-top: 1rem; 
  text-transform: none; 
  text-align: center;
}

.ButtonWrapper button:hover,
.ButtonWrapper a:hover {
  background-color: #0369a1; 
}

.Rating{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}